<div class="container">
    <form method="POST" action="/product">
        <h1>Create Product</h1>
        <div>
            <label class="form-label" for="name">Enter the product</label>
            <input class="form-control" name="title" id="name" type="text">
        </div>
        <div>
            <label class="form-label" for="price">Enter the price</label>
            <input class="form-control" name="price" id="price" type="number">
        </div>
        <div>
            <label class="form-label" for="thumbnail">Enter the URL of Img</label>
            <input class="form-control" name="thumbnail" id="thumbnail" type="text">
        </div>
        <button class="btn btn-dark" type="submit">Send Product</button>
    </form>
</div>
