<div class="container-chat">
    <div><h2>MESSAGE CENTER</h2></div>
    <div id="js-chatRoom">

    </div>

    <form class="container p-4" id="js-form-chat">
        <div class="form-outline">
            <label class="form-label" for="username">User</label>
            <input class="form-control" id="username" type="text" name="username" placeholder="Ingrese su email">
        </div>
        <div class="form-outline">
            <label class="form-label" for="sendMessage">Message</label>
            <textarea name="message" id="sendMessage" placeholder="Ingresá un mensaje..."
                      class="form-control"></textarea>
        </div>
        <div>
            <input id="button" type="submit" class="btn btn-primary btn-block mt-4" value="Send Message">
        </div>
    </form>

</div>