<header>
    <nav>
        <ul class="d-flex">
            <li class="m-2"><a href="/products">List of products</a></li>
            <li class="m-2"> <a href="/">Create Product</a></li>
        </ul>
    </nav>
</header>